.header::before,
.header::after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  @apply bg-positive;
}

.header::before {
  left: -999px;
  right: calc(100% + 15px);
}

.header::after {
  left: calc(100% + 15px);
  right: -999px;
}